################################################################################
# This .gitignore file is what to ignore in Visual Studio solution
################################################################################
/.vs
bin/
obj/
**/.vs
packages/